server:
  port: 8080 
spring:
  application:
    name: demo
  datasource:
    url: 
    username: 
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  jp a:
    hibernate:
      ddl-auto: update 
   
